@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');
.barcodeCntr{
    margin: 0 auto;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, 0%);
}
.eachBarcodeCntr{
    width: 566px;
    height: 188px;
    border: 1px solid;
    font-size: 12px;
    font-weight: 300;
    font-family: 'Josefin Sans', sans-serif;
    padding: 15px;
    margin-bottom: 10px;
    .leftside, .rightside{
        display: inline-flex;
        flex-direction: column;
    }
    .leftside{
        width: 40%;
        .leftTop{
            margin-bottom: 10px;
            span{
                font-size: 20px;
                font-weight: 400;
                text-transform: capitalize;
                img{
                    vertical-align: middle;
                    border-bottom: 2px solid;
                }
            }
            .subhead{
                padding-left: 40px;
                font-size: 10px;
                line-height: 0;
            }
        }
        .description{
            margin: 15px 0;
            font-weight: 400;
            text-transform: capitalize;
        }
        .itemContain{
            font-size: 10px;
        }
        span{
            text-transform: capitalize;
        }
    }
    
    .rightside{
        width: 60%;
        .rightTop{
            border: 1.5px solid #ababab;
            padding: 10px;
            margin-bottom: 10px;
        }
        .rightCenter, .rightBottom{
            text-align: right;
            font-size: 11px;
            line-height: 9px;
            margin-bottom: 5px;
        }

    }
    .footer{
        display: flex;
        justify-content: space-between;
        background: #000;
        color: #fff;
        padding: 10px;
        font-size: 16px;
        text-transform: capitalize;
    }
    .barcode{
        position: relative;
        margin-bottom: 10px;
        img{
            height: 53px;
            width: 150px;
            position: absolute;
            right: 100px;
            left: 0;
        }
    }
}


